body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #262626;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logos {
    max-width: 1260px;
    padding: 30px 15px;
    margin: 0 auto;
    text-align: left;
}

img {
    max-width: 100%;
}

.code {
}

.code input {
    width: 286px;
    margin: 15px 0 0 0;
}


.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.sf-wrapper {
    min-height: calc(100vh - 92px)
}

.infobox-i {
    display: inline-block;
    cursor: pointer;
    width: 21px;
    height: 21px;
    border: 1px solid #0653b6;
    color: #0653b6;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 20px;
}

/*.infobox-fix + .popover {*/
    /*top: -68px!important;*/
/*}*/

.popover-content {
    text-align: left;
}

h1 {
    font-family: 'BMW Group Condensed', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 30px;
    color: #262626;
}

h2 {
    font-family: 'BMW Group Condensed', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #262626;
    margin-top: 0px;
}

h3 {
    font-family: 'BMW Group Condensed', Arial, sans-serif;
    color: #262626;
}

h4 {
    font-size: 12px;
    line-height: 16px;
    margin:0;
}

p {
    line-height: 20px;
    margin-bottom: 25px;
}

.dt10{
    margin-top: 10px;
}

.dt20{
    margin-top: 20px;
}

.ng-submitted .ng-invalid:not(.form-container) {
    border: 1px solid #ff0000;
}
.ng-submitted input[type="checkbox"].ng-invalid { 
    outline: 1px solid #ff0000 
} 


.content {
    max-width: 960px;
    margin: auto;
}

.infobox {
        border: 1px solid;
    padding: 20px;
}

.btn {
    font-family: 'BMW Group Condensed', Arial, sans-serif;
    font-weight: bold;
    min-width: 286px;
    min-height: 40px;
    font-size: 15px;
    padding: 8px 15px;
    background-color: #666;
    border-color: #666;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    white-space: normal;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #4d4d4d;
    color: #fff;
}

.btn-primary {
    background-color: #1c69d4;
}

.btn-primary:hover {
    background-color: #0653b6;
}

.btn-book {
    text-align: left;
    text-transform: uppercase;
}

.btn-book:after {
    content: "";
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    background-image: url('../img/angle-right.png');
    width: 9px;
    height: 15px;
    background-size: cover;
}

a {
    color: #1c69d4;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a.menu,
a.menu:hover,
a.menu:visited {
    color: #fff;
    font-weight: normal;
}

a.menu-active,
a.menu-active:hover,
a.menu-active:visited {
    color: #fff !important;
 /*   font-weight: bold !important;*/
}

.footer {
    margin:40px auto 0;
    padding: 15px 0;
    background-color: #8e8e8e;
    color: #fff;
    font-size: 14px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #0653b6;
    text-decoration: none;
}

.footer p {
    margin-bottom: 0;
}

.db20-mobile {
    margin-bottom: 15px;
}


label {
    font-weight: normal;
/*    font-family: 'BMW Group Condensed', Arial, sans-serif;
*/    font-size: 12px;
    margin-bottom: 0;
}

.right {
    text-align: right;
}

.clearfix {
    display: none;
}

.form-control {
    box-shadow: none;
    border: 1px solid #dddddd;
    height: 30px;
    font-size: 13px;
    color: #292929;
    border-radius: 0;
    padding: 0 10px;
}

.terms {
    display: inline-block;
}

.link {
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}

li {
    padding: 5px 0px;
}


@media only screen and (max-width: 992px) {
    .btn-group-confirmation .right {
        text-align: left;
    }
}

@media only screen and (max-width: 767px) {

    .right {
        text-align: left;
    }

    .btn-group-confirmation .right {
        text-align: center;
    }

    .sf-wrapper {
        min-height: calc(100vh - 112px)
    }

    .clearfix {
        display: block;
    }

    .btn-group-confirmation {
        text-align: center;
    }
}