<!DOCTYPE html>
<html lang="de" ng-app="app">

<head>
    <meta charset="utf-8">
    <title>BMW 8 - Azimut Benetti XI Gala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/xdomain.min.js" slave="https://wrapper.airlst.com/proxy.html"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/sweetalert.css">
    <link rel="stylesheet" href="./fonts/stylesheet.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="./js/vendor/SweetAlert.js"></script>
    <script type="text/javascript" src="./js/vendor/sweetalert.min.js"></script>
    <script type="text/javascript" src="./js/vendor/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="./js/airlst.js"></script>
    <script src="http://www.airlst.com/widget/v4/js/airlst.js"></script>
</head>

<body ng-controller="AirLSTCtrl as ctrl" ng-init="rsvplist_id=3908; hostname='https://wrapper.airlst.com'; checkLimit(); loadRsvpCodeFromUrl();">
    <div class="s-fwrapper">
        <header>
            <img src="img/BM8_AzimutBenetti_header.jpg" style="">
        </header>
        <div class="wrapper">
            <div class="content">
                <div class="row ">
                    <div class="col-sm-12 dt30">
                        <!-- <pre>{{tab|json}}</pre> -->
                        <div style="margin-top: 40px;">
                            <!-- Sektion zur Code-Eingabe, wird ausgeblendet nachdem Code erfolgreich eingegeben wurde -->
                            <div>
                                <!-- Inputfeld für Code, beinhaltet Text für Fehlermeldung falls Code falsch ist  -->
                                <div class="code" ng-show="tab == 'code'">
                                    <!-- ANFANG DER ANMELDUNG -->
                                    <div class="text-left" ng-show="limit == 'event_full'">
                                        <h2>Thank you for your interest in attending the BMW partner lounge during the Azimut Benetti XI Gala.</h2>
                                        <p>We regret to inform you that the booking code you provided us with has already been registered for the event.</p>
                                        <p>Please feel free to contact our event team at: <a href="mailto:event@the-bmw-8-experience.com">event@the-bmw-8-experience.com</a>.</p>
                                    </div>
                                    <div ng-show="!limit">
                                        <!-- <h2 class="text-left section_head">REGISTER</h2> -->
                                        <h2 class="text-left">We look forward to welcoming you to the BMW partner lounge during the Azimut Benetti XI Gala.</h2>
                                       
                                        <h2 class="text-left">To register for this event, please enter your booking code:</h2>
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-6 col-xs-12 ">
                                                <input type="text" placeholder="Booking code" ng-enter="loadRsvp()" ng-model="rsvp_code" class="form-control ng-pristine ng-untouched ng-valid code-input">
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 ">
                                                <button ng-click="loadRsvp();" class="btn btn-primary">Register</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="tab == 'form'">
                                    <div id="step1" ng-show="step == 'step1' || !step">
                                        <form novalidate name="step1Form">
                                            <!-- Contakt -->
                                            <div class="row db20-desktop divider">
                                                <div class="col-sm-12 db20-mobile">
                                                    <h2 class="text-left"> We look forward to welcoming you to the BMW partner lounge during the Azimut Benetti XI Gala.</h2>
                                                    <p>BMW Group experts will be providing first-hand information on this year’s most eagerly-awaited luxury sports coupé – the new BMW 8 Series.</p>
                                                    <p>To register your interest in finding out more and to keep up to date with the latest BMW news, please complete the form below.</p>
                                                    <p> <span style="font-size: 12px;">Compulsory fields are marked with (*)</span></p>
                                                    <h2>Personal data</h2>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Salutation*</h4>
                                                        <select name="anrede" class="form-control" id="anrede" ng-model="contact.anrede" required>
                                                            <option value="" ng-selected="">Please select</option>
                                                            <option value="Mr">Mr</option>
                                                            <option value="Ms">Ms</option>
                                                            <option value="Mrs">Mrs</option>
                                                        </select>
                                                    </div>
                                                    <!--  <div class="col-sm-6 db20-mobile">
                                                    <h4>Academic title</h4>
                                                    <input name="titel" type="text" class="form-control" ng-model="contact.titel" placeholder="Academic title">
                                                </div> -->
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>First name*</h4>
                                                        <input name="first_name" type="text" class="form-control" ng-model="contact.vorname" placeholder="First name" required>
                                                    </div>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Last name*</h4>
                                                        <input name="last_name" type="text" class="form-control" ng-model="contact.nachname" placeholder="Last name" required>
                                                    </div>
                                                    <!-- <div class="col-sm-6 db20-mobile">
                                                    <h4>Date of birth</h4>
                                                    <div class="row">
                                                        
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="bd_month" ng-model="contact.bd_month" >
                                                                <option value="">Month</option>
                                                                <option value="1">January</option>
                                                                <option value="2">February</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July</option>
                                                                <option value="8">August</option>
                                                                <option value="9">September</option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="bd_day" ng-model="contact.bd_day" >
                                                                <option value="">Day</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" name="bd_year" ng-model="contact.bd_year" >
                                                                <option value="">Year</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="2000">2000</option>
                                                                <option value="1999">1999</option>
                                                                <option value="1998">1998</option>
                                                                <option value="1997">1997</option>
                                                                <option value="1996">1996</option>
                                                                <option value="1995">1995</option>
                                                                <option value="1994">1994</option>
                                                                <option value="1993">1993</option>
                                                                <option value="1992">1992</option>
                                                                <option value="1991">1991</option>
                                                                <option value="1990">1990</option>
                                                                <option value="1989">1989</option>
                                                                <option value="1988">1988</option>
                                                                <option value="1987">1987</option>
                                                                <option value="1986">1986</option>
                                                                <option value="1985">1985</option>
                                                                <option value="1984">1984</option>
                                                                <option value="1983">1983</option>
                                                                <option value="1982">1982</option>
                                                                <option value="1981">1981</option>
                                                                <option value="1980">1980</option>
                                                                <option value="1979">1979</option>
                                                                <option value="1978">1978</option>
                                                                <option value="1977">1977</option>
                                                                <option value="1976">1976</option>
                                                                <option value="1975">1975</option>
                                                                <option value="1974">1974</option>
                                                                <option value="1973">1973</option>
                                                                <option value="1972">1972</option>
                                                                <option value="1971">1971</option>
                                                                <option value="1970">1970</option>
                                                                <option value="1969">1969</option>
                                                                <option value="1968">1968</option>
                                                                <option value="1967">1967</option>
                                                                <option value="1966">1966</option>
                                                                <option value="1965">1965</option>
                                                                <option value="1964">1964</option>
                                                                <option value="1963">1963</option>
                                                                <option value="1962">1962</option>
                                                                <option value="1961">1961</option>
                                                                <option value="1960">1960</option>
                                                                <option value="1959">1959</option>
                                                                <option value="1958">1958</option>
                                                                <option value="1957">1957</option>
                                                                <option value="1956">1956</option>
                                                                <option value="1955">1955</option>
                                                                <option value="1954">1954</option>
                                                                <option value="1953">1953</option>
                                                                <option value="1952">1952</option>
                                                                <option value="1951">1951</option>
                                                                <option value="1950">1950</option>
                                                                <option value="1949">1949</option>
                                                                <option value="1948">1948</option>
                                                                <option value="1947">1947</option>
                                                                <option value="1946">1946</option>
                                                                <option value="1945">1945</option>
                                                                <option value="1944">1944</option>
                                                                <option value="1943">1943</option>
                                                                <option value="1942">1942</option>
                                                                <option value="1941">1941</option>
                                                                <option value="1940">1940</option>
                                                                <option value="1939">1939</option>
                                                                <option value="1938">1938</option>
                                                                <option value="1937">1937</option>
                                                                <option value="1936">1936</option>
                                                                <option value="1935">1935</option>
                                                                <option value="1934">1934</option>
                                                                <option value="1933">1933</option>
                                                                <option value="1932">1932</option>
                                                                <option value="1931">1931</option>
                                                                <option value="1930">1930</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Street address</h4>
                                                        <input name="strasse" type="text" class="form-control" ng-model="contact.strasse" placeholder="Street address">
                                                    </div>
                                                    <!--  <div class="col-sm-6 db20-mobile">
                                                    <h4>State/Province</h4>
                                                    <input name="state" type="text" class="form-control" ng-model="contact.strasse2" placeholder="State/Province">
                                                </div> -->
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Zip code*</h4>
                                                        <input name="ZIP" type="text" class="form-control" ng-model="contact.plz" placeholder="Zip code" required>
                                                    </div>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>City*</h4>
                                                        <input name="City" type="text" class="form-control" ng-model="contact.ort" placeholder="City" required>
                                                    </div>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Country*</h4>
                                                        <input name="Country" type="text" class="form-control" ng-model="contact.country" placeholder="Country" required>
                                                    </div>
                                                    <!--   <div class="col-sm-6 db20-mobile">
                                                    <h4>Dietary restrictions</h4>
                                                    <input name="dietary" type="text" class="form-control" ng-model="rsvp.rsvp_10" placeholder="Dietary restrictions">
                                                </div> -->
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Phone number</h4>
                                                        <input name="phone" type="text" class="form-control" ng-model="contact.phone" placeholder="Incl. prefix">
                                                    </div>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Email*</h4>
                                                        <input placeholder="Email" ng-model="contact.email" class="form-control" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" required>
                                                    </div>
                                                    <div class="col-sm-6 db20-mobile">
                                                        <h4>Confirm email*</h4>
                                                        <input placeholder="Confirm email" ng-model="validation.email" class="form-control" ng-paste="$event.preventDefault()" required>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            
                                            <div class="row">
                                                <div class="col-sm-6">
                                                </div>
                                                <div class="col-sm-6 right">
                                                    <label ng-show="!step1Form.$valid">Please complete all required fields</label>
                                                    <button class="btn btn-primary" ng-disabled="!step1Form.$valid" ng-click="valEmail();">Next</button>
                                                    <!-- <button class="btn btn-primary" ng-click="valEmail();">Next</button> -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="step2" ng-show="step == 'step2'">
                                        <form novalidate name="registration">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                </div>
                                                <div class="col-sm-5 db20-mobile">
                                                    <h4>Which car brands and models do you currently own?</h4>
                                                    <input name="email" type="text" class="form-control" ng-model="rsvp.rsvp_1" placeholder="">
                                                </div>
                                                <div class="col-sm-7 db20-mobile">
                                                    <h4>When did you last purchase a vehicle? (Please state year and month)</h4>
                                                    <div class="row db20-mobile db20-desktop">
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="lcb_year" ng-model="lcb_year" >
                                                                <option value="">Year</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="2000">2000</option>
                                                                <option value="1999">1999</option>
                                                                <option value="1998">1998</option>
                                                                <option value="1997">1997</option>
                                                                <option value="1996">1996</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="lcb_month" ng-model="lcb_month" >
                                                                <option value="">Month</option>
                                                                <option value="1">January</option>
                                                                <option value="2">February</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July</option>
                                                                <option value="8">August</option>
                                                                <option value="9">September</option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--    <div class="col-sm-6">
                                                      <h4>Which BMW Series most appeals to you?</h4>
                                                <input name="email" type="text" class="form-control" ng-model="rsvp.rsvp_3" placeholder="e.g. BMW i8">
                                                    
                                                </div> -->
                                            </div>
                                            <div class="row dt20 infobox">
                                                <div class="col-xs-12">
                                                    <h2>My consent to promotional communication</h2>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <h4>I would like to receive marketing communication from BMW
                                                            <span class="infobox-i infobox-fix" uib-popover-html="popoverContent1" popover-trigger="'outsideClick'" popover-placement="right">i</span>
                                                            by</h4>
                                                        <input name="pref_contact_email" id="pref_contact_email" type="checkbox" class="" ng-model="rsvp.rsvp_4">
                                                        <label for="pref_contact_email">&nbsp;Email</label>
                                                        <br>
                                                        <input name="pref_contact_phone" id="pref_contact_phone" type="checkbox" class="" ng-model="rsvp.rsvp_5">
                                                        <label for="pref_contact_phone">&nbsp;Telephone / text</label>
                                                        <br>
                                                        <input name="pref_contact_mail" id="pref_contact_mail" type="checkbox" class="" ng-model="rsvp.rsvp_8">
                                                        <label for="pref_contact_mail">&nbsp;Mail</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <h4><br><br>Change requests regarding declaration of consent and option to revoke
                                                        <span class="infobox-i infobox-fix" uib-popover-html="popoverContent2" popover-trigger="'outsideClick'" popover-placement="right">i</span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="row dt10">
                                                <!--   <div class="col-sm-4">
                                                <h4>&nbsp;</h4>
                                                <select name="contact_allowed" class="form-control" id="contact_allowed" ng-model="rsvp.rsvp_3">
                                                    <option value="" ng-selected="">Please select</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div> -->
                                            </div>
                                            <!--  <div class="row dt10">
                                            <div class="col-xs-12 db20-mobile">
                                                <input name="termsandconditions" type="checkbox" class="" ng-model="rsvp.rsvp_9" required>
                                                <h4 class="terms" >I have read and accept the <a href="./docs/terms-conditions.pdf" target="_blank">Terms & Conditions</a> of the event.*</h4>
                                            </div>
                                        </div> -->
                                            <div class="row">
                                                <div class="col-sm-12 dt20 right">
                                                    <button class="btn btn-default" ng-disabled="sending" ng-click="checkAndSubmit()">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div ng-show="tab == 'done'">
                                    <h3>Thank you for registering for BMW partner lounge during the Azimut Benetti XI Gala.</h3>
                                    <p>We look forward to seeing you in Monopoli.</p>
                                </div>
                                <div ng-show="tab == 'imprint'">
                                    <h1>Imprint</h3>
                                    <p>
<strong>This website is owned and operated by:</strong><br>
Bayerische Motoren Werke Aktiengesellschaft<br>
Petuelring 130<br>
80809 München<br>
Germany</p>

<p>If you have any questions, would like to contact the editorial staff or share your BMW experience with us, we look forward to hearing from you.</p>
<p>Phone*: 0049 89 382 0 (Monday - Friday, between 8:00 AM and 6:00 PM CST)</p>

<p>BMW AG is legally represented by the Board of Management (Harald Krüger (Chairman), Milagros Caiña Carreiro-Andree, Markus Duesmann, Klaus Fröhlich, Pieter Nota, Nicolas Peter, Peter Schwarzenbauer, Oliver Zipse).</p>

<p>Chairman of the Supervisory Board: Norbert Reithofer<br>
Company seat and trade register: Munich HRB 42243<br>
Value added tax identification number: DE129273398</p>

<p>Electronic contact: <a href="mailto:imprint@bmw.com">imprint@bmw.com</a></p>

<h4>* Calls from landlines or mobiles may result in costs according to your contract with your telephone service provider. If in doubt, please consult your telephone service provider. Availability may be limited by your contract with your telephone service provider.</h4>
<p>&nbsp;</p>

                                        <span class="link" ng-click="tab = 'form'"><< Back to registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-10 left">
                        &nbsp;
                    </div>

                    <div class="col-sm-2 right">
                        <span ng-click="tab ='imprint'" class="link">Imprint</span>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>